<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IdentityClientId" value="70630564-3523-4b70-a389-d718956340cd" />
  </appSettings>
  <connectionStrings>  
    <add name="ConnectionString" connectionString="Server=tcp:vpr.database.windows.net,1433;Initial Catalog=VPR_DATABASE;Persist Security Info=False;User ID=pbt3h19a;Password=uMb7ZXAA5TjajDw;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />  
    <add name="ConnectionStringTest" connectionString="Server=tcp:vpr.database.windows.net,1433;Initial Catalog=TEST_VPR_DATABASE;Persist Security Info=False;User ID=pbt3h19a;Password=uMb7ZXAA5TjajDw;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />  
  </connectionStrings>  
</configuration>
