<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IdentityClientId" value="be00886e-3399-4c2d-81ee-4425573b49e2" />
  </appSettings>
  <connectionStrings>  
    <add name="MyAppConnectionString" connectionString="Data Source=*server*\*instance*;Initial Catalog=*dbname*;Integrated Security=True;Pooling=False" />  
  </connectionStrings>  
</configuration>
